.post {
    margin: 2rem auto;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 6px;

    h3 {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    p {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.87);
        line-height: 1.7;
        margin: 2rem 0;
    }

    .reactbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(206, 208, 212);
        padding-bottom: 1rem;
        cursor: pointer;
        svg{
            width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:first-child{
        color: rgb(59, 150, 233);
    }
    &:nth-child(2){
        color: red;
    }
    &:last-child{
        color: rgb(251, 206, 89) ;
    }
        }
    }
    span {
        color: rgba(0, 0, 0, 0.87);
        margin-left: 0.5rem;
        font-weight: 700;
    }
}